body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("src/space_dance_floor.jpg");
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title{
  background-color: #777;
  float: right;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.lineUp{
padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.colorfulDancer{
  display: block;
  border:10px; 
  border-style: solid;
  border-radius:10px;
  position:absolute;
}
.sizeDancer{
  display: block;
  border:10px solid blue; 
  border-radius:0px;
  position:absolute;
}